* {
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}

body::-webkit-scrollbar{
  display: none;
}
/* #cont::-webkit-scrollbar{
  display: none;
}
#page2::-webkit-scrollbar{
  display: none;
}
#initial-page::-webkit-scrollbar{
  display: none;
} */

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #1e003e;
  position: relative;
}


.hackathon-name {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 180px;
  color: #bcfb4a;
}
.csi-head {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header .logo {
  width: 50px;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline;
  margin-left: 30px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.55s, ease;
  display: inline;
}
header ul li a.active,
header ul li a:hover {
  color: #47cacc;
}
.img-loader {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
}

.img-loader img {
  height: 100%;
  width: 100%;
  object-fit: contain; /* Ensures the image covers the container without distortion */
  z-index: -1;
}



@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.start-btn {
  border: none;
  font-size: 60px;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 35%;
  left: 45%;
  cursor: pointer;
  animation: blink-animation 1s steps(5, start) infinite; /* Blinking effect */
  background-color: transparent;
  color: green;
  line-height: 40px;
}

.font-bungee {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#page1
{
    
    height: 100vh;
    width: 100%;
    /* background-image: url(/images/player\ \(16.53\ x\ 11.69\ in\)_20240825_121055_0000.png);
    background-size: auto; */
    background-color: #1e003e;
    
}



.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* From Uiverse.io by alexmaracinaru */
.cta {
  margin-top: 20px;
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #bcfb4a;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #bcfb4a;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.fix-btn {
  border: none;
  color: #0d191a;
  font-size: 30px;
  text-align: center;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: #47cacc;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}



/* page-3video-content */

.page2
{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1e003e;
    /* background-image: url("https://lazarev.kiev.ua/la24/reel-cover.webp"); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn  {
   
    z-index: 1;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
    
}
.play-btn:hover {
    transform: scale(1.1);
}
.play-btn img {
   
    border-radius: 50%;
}
.heading {
    margin-top: 180px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
     display: none; 
     opacity: 0;
    transition: opacity 0.3s ease; /* Add a transition effect */
}

/* One more method to add the CSS styling animation to the View Show reel was  

.page3-center h5 {
    font-size: 0.8vw;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}



*/

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.play-btn:hover + .heading {
    animation: fadeIn 0.4s ease 0.1s forwards; /* Add delay to animation */
}

.page2 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 999999;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    
}

.page3
{
    height: 100vh;
    width: 100%;
    background-color: #1e003e;
    display: flex;
    justify-content: space-evenly;
   /* background-image: url('https://img.freepik.com/free-vector/pink-neon-background_53876-91656.jpg'); */
   /* background-size: cover; */
}

.page3 h1,p,span{
  z-index: 2;
}

.cont2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  align-items: start;
}
.cont-img {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  margin-left: 200px;
}
.fix-btn {
  border: none;
  color: #0d191a;
  font-size: 30px;
  text-align: center;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: #47cacc;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.announcement {
  color: #00ffff;
  margin-bottom: 20px;
}
.description {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 20px;
}
.details {
  margin-bottom: 20px;
  font-size: 20px;
}
.details p {
  /* margin: 5px 0; */
  text-align: left;
}
.icon {
  color: #00ffff;
  margin-right: 10px;
}

/* problem statement code  */
.buttons-container {
  margin-top: 50px;
}

/* dropdown */
.dropdown {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 380px;
  width: 50%;
}

.dropdown-btn {
  border-radius: 20px;
  background-color: #fff;
  color: #000000;
  padding: 15px 20px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
  background-color: #555;
}

.dropdown-content {
  background-color: #fc2c9a;
  color: black;
  padding: 20px;
  display: none;
  overflow: hidden;
  border-left: 5px solid #333;
}
.button {
  background-color: whitesmoke; /* Pink button color */
  color: black;
  width: 80%;
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border: 1px solid #1d0035;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}


/* page-4  */

.page4 {
  width: 100%;
  height: 100%;
  background-color: #1e003e;
  
  /* background-image: url('https://img.freepik.com/free-vector/pink-neon-background_53876-91656.jpg');
  background-size: cover; */
}

.page4 .btn-view button {
  margin-left: 230px;
  border-radius: 15px;
  height: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-top: 35px;
  cursor: pointer;
}

.page4 .btn-view button a{
  color: #000000;
}
.ps-1 {
  margin-top: 100px;
  text-align: center;
}

/* prize container */

.prize-cont {
  /* margin-top: 20px; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  background-color: #1e003e;
}
.card {
  position: relative;
  width: 220px;
  height: 220px;
  background: #fc2c9a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card .card2{
  margin-top: -20px;
}
.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 5px;
  color: black;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}
.card:hover {
  transform: scale(1.05);
}


/* .card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
  content: "With Internship Opportunities,Exciting Goodies & Lots More!";
} */
footer {
  background-color: #1d0035; /* Same background color as the body */
  color: white;
  padding: 20px 0; /* Padding for top and bottom */
  font-size: 12px; /* Smaller font size */
  text-align: center; /* Center the text */
  position: relative; /* Ensures the footer stays at the bottom of the content */
  width: 100%;
}

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
  
  .hackathon-name {
    font-size: 15vw;
  }

  header .logo {
    width: 30px;
  }

  header ul li {
    margin-left: 10px;
  }

  .start-btn {
    font-size: 8vw;
    height: 15vw;
    width: 15vw;
  }

  .description,
  .details {
    font-size: 5vw;
  }

  .fix-btn {
    font-size: 6vw;
  }
  #initial-page button{
    margin-top: 25px;
    transform: translate(50%,50%); 
    left: 137px;

  }
  .page3 .cont2{
    text-align: center; 
    margin-left:25px;
  }
  .page3 .cont2 img{
    opacity: 0.5;
    height: 150px;
    width: 230px;
    left:0px;
    
  }

  .page4  h1{
    /* margin-top: 300px; */
  }

  .prize-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page4 .btn-view button{
    margin-left: 60px;
    border-radius: 15px;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 25px;
    margin-top: 35px;
    cursor: pointer;
  }
  .dropdown {
   width: 80%;
    margin-left: 50px;
  }
}



.cont .page1 h1,h2,p,span{
  text-align: center;
  z-index: 1;
  font-weight: 700;
}
/* img */
.responsive-image {
  position: absolute;
  max-width: 100%;
  height: 20%;
}
.image1 {
  top: 10%;
  left: 0%;
  width: 20%;
  height: auto;
}
.image2 {
  top: 10%;
  right: 0%;
  width: 20%;
  height: auto;
}
.image3 {
  bottom: 10%;
  left: 5%;
  width: 25%;
  height: auto;
}
.image4 {
  bottom: 10%;
  right: 5%;
  width: 25%;
  height: auto;
}
@media (max-width: 768px) {
  .image1, .image2, .image3, .image4 {
      width: 40%;
  }
  .image1, .image2 {
      top: 5%;
      width: 40%;
      opacity: 0.5;
  }
  .image3, .image4 {
      bottom: 5%;
      width: 40%;
      opacity: 0.5;
  }
}

@media (max-width: 700px){
  .image1, .image2{
    height: 180px;
    width: 150px;
    left:0px;
  }
  .image3{
    height: 200px;
    width: 170px;
}
.image4{
  width:200px ;
}
}
/* @media (max-width: 768px) {
  .image1,.image2, .image3, .image4 {
    height: 180px;
    width: 70px;
    left:0px;
  }
 
}
@media (max-width: 480px) {
  .image1, .image2, .image3, .image4 {
      width: 70%;
  }
  .image1, .image2 {
      top: 2%;
      width: 70%;
  }
  .image3, .image4 {
      bottom: 2%;
      width: 70%;
  }
} */




